<main class="backcolor">
  <div>name:{{user.name}}</div>
  <div>surname:{{user.surname}}</div>
  <div>age:{{user.age}}</div>
  <div>birthday:{{user.birthday}}</div>
  <div>login:{{user.login}}</div>
  <div>id: '{{user._id}}'</div>
</main>
