<main class='backcolor'>
  <div>Name:{{user.name}}</div>
  <div>Surname:{{user.surname}}</div>
  <div>Age:{{user.age}}</div>
  <div>Birthday:{{user.birthday}}</div>
  <div>Friends:{{user.friends}}</div>
</main>
